@font-face {
    font-family: myfont;
    src: url(../styles/Roboto-Black.ttf);
}


header {
	width: 100%;
	height: 53px;
	background-color: #F5F5F5;
    position: sticky;
    top: 0;
    z-index: 100;
}
h1 {
	display: inline-block;
    font-family: myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    height: 13px;
    margin-left: 35px;
    margin-top: 21px;
}
.top {
    width: 800px;
	margin-left: 137px;
}
section {
    width: 100%;
    height: 100%;
}
body{
    background-color: #F5F5F5;
}
h2 {
    font-family: myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 42px 170px;
}
.trend {
    width: 362px;
    height: 357px;
    background-color: white;
    display: inline-block;
    margin-left: 40px;
}
h3 {
    position: absolute;
    width: 184px;
    height: 23px;
    font-family: myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    top: 20px;
    left: 30px;
    color: #FFFFFF;
}
.mshobeli {
    display: inline-block;
    position: relative;
}
p {
    width: 207px;
    height: 36px;
    font-family: myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
    padding: 68px 87px 14px 37px; 
}
h4 {
    width: 34px;
    height: 12px;
    font-family: myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
    display: inline-block;
    vertical-align: middle;
}
.time {
    padding-left: 40px;
    vertical-align: middle;
}
.column1 {
    display: inline-block;
    width: 758px;
    height: 902px;
    margin-left: 170px;
}
.centre {
    position: absolute;
    width: 202px;
    height: 23px;
    font-family: myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    top: 40%;
    left: 35%;
    color: #FFFFFF;    
}
.a {
    margin-bottom: 36px;
}
.column2 {
    display: inline-block;
    width: 362px;
    height: 842px;
    vertical-align: top;
    margin-left: 45px;
}
.spilo {
    display: inline-block;
    margin-bottom: 103px;
}
.end {
    width: 100%;
    height: 201px;
    background: #243043;
    padding: 0px 1px 51px;
    box-sizing: border-box;
}
article {
    width: 100%;
    height: 288px;
    background-color: #F5F5F5;
}
h6 {
    font-family: myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #818687;
    margin-bottom: 14px;
}
.end1 {
    display: inline-block;
    margin: 59px 0px 44px 169px;
}
.end2 {
    width: 249px;
    height: 14px;
    font-family: myFont;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF; 
}
.geolab {
    margin-left: 200px;
    margin-bottom: 55px;
}